<!-- HERO -->
<section class="hero">
  <picture class="hero-picture">
    <source
      media="(min-width: 1336px)"
      srcset="
        /img/hero/girl-doing-yoga-on-the-beach-desk.jpg    1x,
        /img/hero/girl-doing-yoga-on-the-beach-desk@2x.jpg 2x
      "
    />
    <source
      media="(min-width: 768px)"
      srcset="
        /img/hero/girl-doing-yoga-on-the-beach-tab.jpg    1x,
        /img/hero/girl-doing-yoga-on-the-beach-tab@2x.jpg 2x
      "
    />
    <source
      media="(max-width: 767px)"
      srcset="
        /img/hero/girl-doing-yoga-on-the-beach-mobile.jpg    1x,
        /img/hero/girl-doing-yoga-on-the-beach-mobile@2x.jpg 2x
      "
    />
    <img
      srcset="
        /img/hero/girl-doing-yoga-on-the-beach-mobile.jpg    1x,
        /img/hero/girl-doing-yoga-on-the-beach-mobile@2x.jpg 2x
      "
      src="/img/hero/girl-doing-yoga-on-the-beach-mobile.jpg"
      alt="Girl doing youga on the beach"
      class="hero-image"
    />
  </picture>
  <div class="container hero-container">
    <h1 class="hero-title">
      Transform Your Life with Our Yoga
      <span class="hero-title-word">Courses</span>
    </h1>
    <p class="hero-description">
      Discover the harmony of mind and body through our expertly designed yoga
      programs. Join a community dedicated to wellness and personal growth.
    </p>

    <div class="buttons">
      <a href="#pricing" class="btn join"
        >Join <span class="btn-extra">Now</span></a
      >
      <a href="#gallery" class="btn learn">Learn more</a>
    </div>
  </div>
</section>
