<!-- Modal -->
<div class="backdrop" data-modal-cheap>
    <div class="modal">
        <button class="modal-btn-close" type="button" data-modal-close-cheap>
            <svg class="modal-svg" width="16" height="16">
                <use href="/img/sprite.svg#icon-x"></use>
            </svg>
        </button>
        <p class="modal-title">Join Now!</p>
        <p class="modal-text">One Session</p>
        <p class="modal-text-price">$10</p>
        <form class="modal-form">
            <div class="modal-form-box">
                <label class="modal-label" for="user-name">Your Name</label>
                <input class="modal-input" 
                    type="text" 
                    name="user-name" 
                    id="user-name"
                    placeholder="Liam" 
                    autofocus>
            </div>
            <div class="modal-form-box-wrap">
                <div class="modal-form-box">
                    <label class="modal-label" for="user-email">Email</label>
                    <input class="modal-input"
                        type="text"
                        name="user-email"
                        id="user-email"
                        placeholder="hello@yogabloom.com">
                </div>
                <div class="modal-form-box">
                    <label class="modal-label" for="user-phone">Phone number</label>
                    <input class="modal-input"
                    type="tel"
                    name="user-phone"
                    id="user-phone"
                    placeholder="+380 (95) 123 12 12">
                </div>
            </div>
            <button class="modal-form-btn" type="submit">Go to checkout</button>
        </form>
    </div>
</div>


<div class="backdrop" data-modal-average>
    <div class="modal">
        <button class="modal-btn-close" type="button" data-modal-close-average>
            <svg class="modal-svg" width="16" height="16">
                <use href="/img/sprite.svg#icon-x"></use>
            </svg>
        </button>
        <p class="modal-title">Join Now!</p>
        <p class="modal-text">8 Sessions Package</p>
        <p class="modal-text-price">$65</p>
        <form class="modal-form">
            <div class="modal-form-box">
                <label class="modal-label" for="user-name">Your Name</label>
                <input class="modal-input" 
                    type="text" 
                    name="user-name" 
                    id="user-name"
                    placeholder="Liam" 
                    autofocus>
            </div>
            <div class="modal-form-box-wrap">
                <div class="modal-form-box">
                    <label class="modal-label" for="user-email">Email</label>
                    <input class="modal-input"
                        type="text"
                        name="user-email"
                        id="user-email"
                        placeholder="hello@yogabloom.com">
                </div>
                <div class="modal-form-box">
                    <label class="modal-label" for="user-phone">Phone number</label>
                    <input class="modal-input"
                    type="tel"
                    name="user-phone"
                    id="user-phone"
                    placeholder="+380 (95) 123 12 12">
                </div>
            </div>
            <button class="modal-form-btn" type="submit">Go to checkout</button>
        </form>
    </div>
</div>


<div class="backdrop" data-modal-premium>
    <div class="modal">
        <button class="modal-btn-close" type="button" data-modal-close-premium>
            <svg class="modal-svg" width="16" height="16">
                <use href="/img/sprite.svg#icon-x"></use>
            </svg>
        </button>
        <p class="modal-title">Join Now!</p>
        <p class="modal-text">12 Sessions Package</p>
        <p class="modal-text-price">$80</p>
        <form class="modal-form">
            <div class="modal-form-box">
                <label class="modal-label" for="user-name">Your Name</label>
                <input class="modal-input" 
                    type="text" 
                    name="user-name" 
                    id="user-name"
                    placeholder="Liam" 
                    autofocus>
            </div>
            <div class="modal-form-box-wrap">
                <div class="modal-form-box">
                    <label class="modal-label" for="user-email">Email</label>
                    <input class="modal-input"
                        type="text"
                        name="user-email"
                        id="user-email"
                        placeholder="hello@yogabloom.com">
                </div>
                <div class="modal-form-box">
                    <label class="modal-label" for="user-phone">Phone number</label>
                    <input class="modal-input"
                    type="tel"
                    name="user-phone"
                    id="user-phone"
                    placeholder="+380 (95) 123 12 12">
                </div>
            </div>
            <button class="modal-form-btn" type="submit">Go to checkout</button>
        </form>
    </div>
</div>
