<!-- Navbar -->
<div class="mobile-menu is-open">
  <div class="container div-menu">
    <ul class="menu-link">
      <li class="menu-list"><a href="" class="menu-text">Yoga Classes</a></li>
      <li class="menu-list"><a href="" class="menu-text">Team</a></li>
      <li class="menu-list"><a href="" class="menu-text">Testimonials</a></li>
      <li class="menu-list"><a href="" class="menu-text">Pricing</a></li>
      <li class="menu-list"><a href="" class="menu-text">Contacts</a></li>
    </ul>
    <button class="btn-bottom">Join</button>
  </div>
  </div>
 </div>
 </header>
