@keyframes slide {
  from {
    transform: translateX(-140%) translateY(-50%);
  }
  to {
    transform: translateX(-104%) translateY(-50%);
  }
}
@keyframes stretch {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(100%) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(100%) scale(1);
  }
}

.blue-button-animation {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.silver-button-animation {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* ,
  border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.image-animation {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-animation:hover,
.image-animation:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.blue-button-animation:hover,
.blue-button-animmation:focus {
  background-color: #e1edff;
  border: 1px solid #e1edff;
}

.silver-button-animation:hover,
.silver-button-animation:focus {
  background-color: rgba(13, 11, 10, 0.03);
}

/* .mobile-menu-close-btn:hover .modal-form-close-icon-svg,
.mobile-menu-close-btn:focus .modal-form-close-icon-svg {
  fill: var(--white);
} */

.header-links-animation {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-links-animation:hover,
.header-links-animation:focus {
  color: var(--color-neutral);
}
